PORT=app_port
DB_HOST=localhost
DB_PORT=db_port
DB_NAME=thrivelab_db
DB_USERNAME=username
DB_PASSWORD=password
DB_SSL=false

REDIS_HOST=redis_host
REDIS_PORT=redis_port
REDIS_PASSWORD=
REDIS_TLS=false

NODE_ENV=env